In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
mvp_file ="NBA Finals and MVP.xlsx"
mvp_df = pd.read_excel(mvp_file)
mvp_df.head()

player = pd.read_csv("Players Table.csv")
player

,Year,Western Champion,Eastern Champion,Result,NBA Champion,NBA Vice-Champion,Final Sweep ?,MVP Name,MVP Height (m),MVP Height (ft),MVP Position,MVP Team,MVP Nationality,MVP status
0,1950,Minneapolis Lakers,Syracuse Nationals,4–2,Minneapolis Lakers,Syracuse Nationals,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1951,Rochester Royals,New York Knicks,4–3,Rochester Royals,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1952,Minneapolis Lakers,New York Knicks,4–3,Minneapolis Lakers,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1953,Minneapolis Lakers,New York Knicks,4–1,Minneapolis Lakers,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1954,Minneapolis Lakers,Syracuse Nationals,4–3,Minneapolis Lakers,Syracuse Nationals,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_drop=mvp_df.iloc[6:]
df_drop

,Year,Western Champion,Eastern Champion,Result,NBA Champion,NBA Vice-Champion,Final Sweep ?,MVP Name,MVP Height (m),MVP Height (ft),MVP Position,MVP Team,MVP Nationality,MVP status
6,1956,Fort Wayne Pistons,Philadelphia Warriors,1–4,Philadelphia Warriors,Fort Wayne Pistons,False,B. Pettit,2.06,6.758530,Forward,Saint Louis Hawks,US,Not reached Final
7,1957,St. Louis Hawks,Boston Celtics,3–4,Boston Celtics,St. Louis Hawks,False,B. Cousy,1.85,6.069554,Guard,Boston Celtics,US,Champion
8,1958,St. Louis Hawks,Boston Celtics,4–2,St. Louis Hawks,Boston Celtics,False,B. Russell,2.08,6.824147,Center,Boston Celtics,US,Vice-Champion
9,1959,Minneapolis Lakers,Boston Celtics,0–4,Boston Celtics,Minneapolis Lakers,True,B. Pettit,2.06,6.758530,Forward,Saint Louis Hawks,US,Not reached Final
10,1960,St. Louis Hawks,Boston Celtics,3–4,Boston Celtics,St. Louis Hawks,False,W. Chamberlain,2.16,7.086614,Center,Philadelphia Warriors,US,Not reached Final
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,2014,San Antonio Spurs,Miami Heat,4–1,San Antonio Spurs,Miami Heat,False,K. Durant,2.06,6.758530,Forward,Oklahoma City Thunder,US,Not reached Final
65,2015,Golden State Warriors,Cleveland Cavaliers,4–2,Golden State Warriors,Cleveland Cavaliers,False,S. Curry,1.91,6.266404,Guard,Golden State Warriors,US,Champion
66,2016,Golden State Warriors,Cleveland Cavaliers,4–3,Cleveland Cavaliers,Golden State Warriors,False,S. Curry,1.91,6.266404,Guard,Golden State Warriors,US,Vice-Champion
67,2017,Golden State Warriors,Cleveland Cavaliers,4-2,Golden State Warriors,Cleveland Cavaliers,False,R. Westbrook,1.91,6.266404,Guard,Oklahoma City Thunder,US,Not reached Final
68,2018,Golden State Warriors,Cleveland Cavaliers,4-0,Golden State Warriors,Cleveland Cavaliers,True,J. Harden,1.96,6.500000,Guard,Houston Rockets,US,Not reached Final

In [11]:
new_mvp_df =df_drop[['MVP Name', 'Year','MVP Position','MVP Team','MVP Nationality','MVP status']].copy()
new_mvp_df.head()

,MVP Name,Year,MVP Position,MVP Team,MVP Nationality,MVP status
6,B. Pettit,1956,Forward,Saint Louis Hawks,US,Not reached Final
7,B. Cousy,1957,Guard,Boston Celtics,US,Champion
8,B. Russell,1958,Center,Boston Celtics,US,Vice-Champion
9,B. Pettit,1959,Forward,Saint Louis Hawks,US,Not reached Final
10,W. Chamberlain,1960,Center,Philadelphia Warriors,US,Not reached Final

In [4]:
mvp = new_mvp_df.rename(columns={"Year": "season",
                                 "MVP Name": "MVP_name",
                                 "MVP Position": "MVP_Position",
                                 "MVP Team": "MVP_team",
                                "MVP Nationality":"MVP_nationality",
                                 "MVP status":"MVP_status"
                                })
mvp.head()

  MVP_name  season MVP_Position MVP_team MVP_nationality MVP_status
0      NaN    1950          NaN      NaN             NaN        NaN
1      NaN    1951          NaN      NaN             NaN        NaN
2      NaN    1952          NaN      NaN             NaN        NaN
3      NaN    1953          NaN      NaN             NaN        NaN
4      NaN    1954          NaN      NaN             NaN        NaN

In [8]:
player = pd.read_csv("Players Table.csv")
player.sample(10)

     player_id first_name        last_name
564    1628418     Thomas           Bryant
10      202407     Elijah          Millsap
28     1626153      Delon           Wright
580    1629102    Brandon          Sampson
234    1626162      Kelly        Oubre Jr.
182     203487    Michael  Carter-Williams
315     202709       Cory           Joseph
244     203145      Kent          Bazemore
423    1628405  Johnathan           Motley
103    1626171      Bobby           Portis

In [5]:
connection = "postgres:root123@localhost:5432/NBAdatabase"
engine = create_engine(f'postgresql://{connection}')

In [6]:
engine.table_names()

['player_stats_2017',
 'player_stats_2018',
 'mvp',
 'team',
 'hall_of_fame_player',
 'player',
 'player_stats_2016']